<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction20210421003916.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/be8b0530-081c-4940-9f0c-f15fa2e65980/resourcegroups/learn-4b3ea606-2fce-4975-b7b6-a509a17af440/providers/Microsoft.Web/sites/WatchPortalFunction20210421003916</ResourceId>
    <UserName>$WatchPortalFunction20210421003916</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunction20210421003916.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>